@import "../../config/mixins.pcss";

[m-desk=faqs]{
	& .trx-faqs{
		& .content-items{
			& .head-faqs{
				color: var(--tr-blue);
				& .cbx-icon{
					color: inherit;
					& i {
						color: inherit;
					}
				}
			}
		}
	}
}