@import "../../config/mixins.pcss";

[m-desk=faqs]{
	& .trx-faqs{
		& .content-items{
			& .head-faqs{
				color: var(--tr-blue,#0097F6);
				& .cbx-icon{
					color: inherit;
					& i {
						color: inherit;
					}
				}
			}
		}
		& .cbx-list{
			& > .list-item, & > li{
				display: block;
			}
		}
	}
}