@import "../../config/mixins.pcss";

.trx-button{
	background-color: var(--tr-red, #EE004E);
	border-top:{
		@mixin viewport xs, right-radius, 30;
		@mixin viewport xs, left-radius, 30;
	}
	border-bottom:{
		@mixin viewport xs, right-radius, 30;
		@mixin viewport xs, left-radius, 30;
	}
}